src/main/mule/fsc-integrations.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <http:listener-config name="fsc-integrations-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="fsc-integrations-config" api="resource::org.mule.examples:fsc-integrations-api:2.0.0:raml:zip:fsc-integrations.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="fsc-integrations-main">
        <http:listener config-ref="fsc-integrations-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="fsc-integrations-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="fsc-integrations-console">
        <http:listener config-ref="fsc-integrations-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="fsc-integrations-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\CurrentAccount\IssuedDevice\Request:application\json:fsc-integrations-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  errorCode: "400",
  errorMessage: "Invalid request message.",
  transactionId: "dd960082-abbf-47c2-8c65-f18eeb35848b",
  timeStamp: "2019-09-30T15:27:49.274Z"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="put:\SavingsAccount\IssuedDevice\Request:application\json:fsc-integrations-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  errorCode: "400",
  errorMessage: "Invalid request message.",
  transactionId: "dd960082-abbf-47c2-8c65-f18eeb35848b",
  timeStamp: "2019-09-30T15:27:49.274Z"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="put:\CreditCard\IssuedDevice\Request:application\json:fsc-integrations-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  errorCode: "400",
  errorMessage: "Invalid request message.",
  transactionId: "dd960082-abbf-47c2-8c65-f18eeb35848b",
  timeStamp: "2019-09-30T15:27:49.274Z"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="put:\SavingsAccount\(accountId)\IssuedDevice\Update:application\json:fsc-integrations-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="accountId">attributes.uriParams.'accountId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  errorCode: "400",
  errorMessage: "Invalid request message.",
  transactionId: "dd960082-abbf-47c2-8c65-f18eeb35848b",
  timeStamp: "2019-09-30T15:27:49.274Z"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="put:\SavingsAccount\(accountId)\Payments\(paymentId)\Update:application\json:fsc-integrations-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="accountId">attributes.uriParams.'accountId'</ee:set-variable>
                <ee:set-variable variableName="paymentId">attributes.uriParams.'paymentId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  errorCode: "400",
  errorMessage: "Invalid request message.",
  transactionId: "dd960082-abbf-47c2-8c65-f18eeb35848b",
  timeStamp: "2019-09-30T15:27:49.274Z"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="put:\CurrentAccount\(accountId)\IssuedDevice\Update:application\json:fsc-integrations-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="accountId">attributes.uriParams.'accountId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  errorCode: "400",
  errorMessage: "Invalid request message.",
  transactionId: "dd960082-abbf-47c2-8c65-f18eeb35848b",
  timeStamp: "2019-09-30T15:27:49.274Z"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="put:\CurrentAccount\(accountId)\Payments\(paymentId)\Update:application\json:fsc-integrations-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="accountId">attributes.uriParams.'accountId'</ee:set-variable>
                <ee:set-variable variableName="paymentId">attributes.uriParams.'paymentId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  errorCode: "400",
  errorMessage: "Invalid request message.",
  transactionId: "dd960082-abbf-47c2-8c65-f18eeb35848b",
  timeStamp: "2019-09-30T15:27:49.274Z"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="delete:\SavingsAccount\(accountId)\Delete:application\json:fsc-integrations-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="accountId">attributes.uriParams.'accountId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  errorCode: "400",
  errorMessage: "Invalid request message.",
  transactionId: "dd960082-abbf-47c2-8c65-f18eeb35848b",
  timeStamp: "2019-09-30T15:27:49.274Z"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="delete:\CurrentAccount\(accountId)\Delete:application\json:fsc-integrations-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="accountId">attributes.uriParams.'accountId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  errorCode: "400",
  errorMessage: "Invalid request message.",
  transactionId: "dd960082-abbf-47c2-8c65-f18eeb35848b",
  timeStamp: "2019-09-30T15:27:49.274Z"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="patch:\AutoLoan\(autoLoanId):application\json:fsc-integrations-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="autoLoanId">attributes.uriParams.'autoLoanId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  errorCode: "400",
  errorMessage: "Invalid request message.",
  transactionId: "dd960082-abbf-47c2-8c65-f18eeb35848b",
  timeStamp: "2019-09-30T15:27:49.274Z"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="patch:\HomeEquityLoan\(accountId):application\json:fsc-integrations-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="accountId">attributes.uriParams.'accountId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  errorCode: "400",
  errorMessage: "Invalid request message.",
  transactionId: "dd960082-abbf-47c2-8c65-f18eeb35848b",
  timeStamp: "2019-09-30T15:27:49.274Z"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="patch:\InvestmentAccount\(accountId):application\json:fsc-integrations-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="accountId">attributes.uriParams.'accountId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  errorCode: "400",
  errorMessage: "Invalid request message.",
  transactionId: "dd960082-abbf-47c2-8c65-f18eeb35848b",
  timeStamp: "2019-09-30T15:27:49.274Z"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="patch:\Loan\(loanId):application\json:fsc-integrations-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="loanId">attributes.uriParams.'loanId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  errorCode: "400",
  errorMessage: "Invalid request message.",
  transactionId: "dd960082-abbf-47c2-8c65-f18eeb35848b",
  timeStamp: "2019-09-30T15:27:49.274Z"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="patch:\Mortgage\(mortgageLoanId):application\json:fsc-integrations-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="mortgageLoanId">attributes.uriParams.'mortgageLoanId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  errorCode: "400",
  errorMessage: "Invalid request message.",
  transactionId: "dd960082-abbf-47c2-8c65-f18eeb35848b",
  timeStamp: "2019-09-30T15:27:49.274Z"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="patch:\SavingsAccount\(accountId)\Payments\(paymentId)\Update:application\json:fsc-integrations-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="accountId">attributes.uriParams.'accountId'</ee:set-variable>
                <ee:set-variable variableName="paymentId">attributes.uriParams.'paymentId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  errorCode: "400",
  errorMessage: "Invalid request message.",
  transactionId: "dd960082-abbf-47c2-8c65-f18eeb35848b",
  timeStamp: "2019-09-30T15:27:49.274Z"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="patch:\CurrentAccount\(accountId)\Payments\(paymentId)\Update:application\json:fsc-integrations-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="accountId">attributes.uriParams.'accountId'</ee:set-variable>
                <ee:set-variable variableName="paymentId">attributes.uriParams.'paymentId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  errorCode: "400",
  errorMessage: "Invalid request message.",
  transactionId: "dd960082-abbf-47c2-8c65-f18eeb35848b",
  timeStamp: "2019-09-30T15:27:49.274Z"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="patch:\customers\(customerId):application\json:fsc-integrations-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="customerId">attributes.uriParams.'customerId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  errorCode: "400",
  errorMessage: "Invalid request message.",
  transactionId: "dd960082-abbf-47c2-8c65-f18eeb35848b",
  timeStamp: "2019-09-30T15:27:49.274Z"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="patch:\SavingsAccount\(accountId):application\json:fsc-integrations-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="accountId">attributes.uriParams.'accountId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  errorCode: "400",
  errorMessage: "Invalid request message.",
  transactionId: "dd960082-abbf-47c2-8c65-f18eeb35848b",
  timeStamp: "2019-09-30T15:27:49.274Z"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="patch:\CurrentAccount\(accountId):application\json:fsc-integrations-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="accountId">attributes.uriParams.'accountId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  errorCode: "400",
  errorMessage: "Invalid request message.",
  transactionId: "dd960082-abbf-47c2-8c65-f18eeb35848b",
  timeStamp: "2019-09-30T15:27:49.274Z"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="patch:\CreditCard\(creditCardId):application\json:fsc-integrations-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="creditCardId">attributes.uriParams.'creditCardId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  errorCode: "400",
  errorMessage: "Invalid request message.",
  transactionId: "dd960082-abbf-47c2-8c65-f18eeb35848b",
  timeStamp: "2019-09-30T15:27:49.274Z"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\AutoLoan\(autoLoanId):fsc-integrations-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="autoLoanId">attributes.uriParams.'autoLoanId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  errorCode: "400",
  errorMessage: "Invalid request message.",
  transactionId: "dd960082-abbf-47c2-8c65-f18eeb35848b",
  timeStamp: "2019-09-30T15:27:49.274Z"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\HomeEquityLoan\(accountId):fsc-integrations-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="accountId">attributes.uriParams.'accountId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  errorCode: "400",
  errorMessage: "Invalid request message.",
  transactionId: "dd960082-abbf-47c2-8c65-f18eeb35848b",
  timeStamp: "2019-09-30T15:27:49.274Z"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\InvestmentAccount\(accountId):fsc-integrations-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="accountId">attributes.uriParams.'accountId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  errorCode: "400",
  errorMessage: "Invalid request message.",
  transactionId: "dd960082-abbf-47c2-8c65-f18eeb35848b",
  timeStamp: "2019-09-30T15:27:49.274Z"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\Loan\(loanId):fsc-integrations-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="loanId">attributes.uriParams.'loanId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  errorCode: "400",
  errorMessage: "Invalid request message.",
  transactionId: "dd960082-abbf-47c2-8c65-f18eeb35848b",
  timeStamp: "2019-09-30T15:27:49.274Z"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\Mortgage\(mortgageLoanId):fsc-integrations-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="mortgageLoanId">attributes.uriParams.'mortgageLoanId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  errorCode: "400",
  errorMessage: "Invalid request message.",
  transactionId: "dd960082-abbf-47c2-8c65-f18eeb35848b",
  timeStamp: "2019-09-30T15:27:49.274Z"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\AutoLoan\(autoLoanId)\Payoff\Details:fsc-integrations-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="autoLoanId">attributes.uriParams.'autoLoanId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  errorCode: "400",
  errorMessage: "Invalid request message.",
  transactionId: "dd960082-abbf-47c2-8c65-f18eeb35848b",
  timeStamp: "2019-09-30T15:27:49.274Z"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\Loan\(loanId)\Payoff\Details:fsc-integrations-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="loanId">attributes.uriParams.'loanId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  errorCode: "400",
  errorMessage: "Invalid request message.",
  transactionId: "dd960082-abbf-47c2-8c65-f18eeb35848b",
  timeStamp: "2019-09-30T15:27:49.274Z"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\Mortgage\(mortgageLoanId)\Payoff\Details:fsc-integrations-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="mortgageLoanId">attributes.uriParams.'mortgageLoanId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  errorCode: "400",
  errorMessage: "Invalid request message.",
  transactionId: "dd960082-abbf-47c2-8c65-f18eeb35848b",
  timeStamp: "2019-09-30T15:27:49.274Z"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\CurrentAccount\(accountId)\Payments\Retrieve:fsc-integrations-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="accountId">attributes.uriParams.'accountId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  errorCode: "400",
  errorMessage: "Invalid request message.",
  transactionId: "dd960082-abbf-47c2-8c65-f18eeb35848b",
  timeStamp: "2019-09-30T15:27:49.274Z"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\SavingsAccount\(accountId)\Payments\Retrieve:fsc-integrations-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="accountId">attributes.uriParams.'accountId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  errorCode: "400",
  errorMessage: "Invalid request message.",
  transactionId: "dd960082-abbf-47c2-8c65-f18eeb35848b",
  timeStamp: "2019-09-30T15:27:49.274Z"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\AutoLoan\(autoLoanId)\transactions:fsc-integrations-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="autoLoanId">attributes.uriParams.'autoLoanId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  errorCode: "400",
  errorMessage: "Invalid request message.",
  transactionId: "dd960082-abbf-47c2-8c65-f18eeb35848b",
  timeStamp: "2019-09-30T15:27:49.274Z"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\CreditCard\(creditCardId)\transactions:fsc-integrations-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="creditCardId">attributes.uriParams.'creditCardId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  errorCode: "400",
  errorMessage: "Invalid request message.",
  transactionId: "dd960082-abbf-47c2-8c65-f18eeb35848b",
  timeStamp: "2019-09-30T15:27:49.274Z"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\Loan\(loanId)\transactions:fsc-integrations-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="loanId">attributes.uriParams.'loanId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  errorCode: "400",
  errorMessage: "Invalid request message.",
  transactionId: "dd960082-abbf-47c2-8c65-f18eeb35848b",
  timeStamp: "2019-09-30T15:27:49.274Z"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\CurrentAccount\(accountId)\transactions:fsc-integrations-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="accountId">attributes.uriParams.'accountId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  errorCode: "400",
  errorMessage: "Invalid request message.",
  transactionId: "dd960082-abbf-47c2-8c65-f18eeb35848b",
  timeStamp: "2019-09-30T15:27:49.274Z"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\SavingsAccount\(accountId)\transactions:fsc-integrations-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="accountId">attributes.uriParams.'accountId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  errorCode: "400",
  errorMessage: "Invalid request message.",
  transactionId: "dd960082-abbf-47c2-8c65-f18eeb35848b",
  timeStamp: "2019-09-30T15:27:49.274Z"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\InvestmentAccount\(accountId)\transactions:fsc-integrations-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="accountId">attributes.uriParams.'accountId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  errorCode: "400",
  errorMessage: "Invalid request message.",
  transactionId: "dd960082-abbf-47c2-8c65-f18eeb35848b",
  timeStamp: "2019-09-30T15:27:49.274Z"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\Mortgage\(mortgageLoanId)\transactions:fsc-integrations-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="mortgageLoanId">attributes.uriParams.'mortgageLoanId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  errorCode: "400",
  errorMessage: "Invalid request message.",
  transactionId: "dd960082-abbf-47c2-8c65-f18eeb35848b",
  timeStamp: "2019-09-30T15:27:49.274Z"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\HomeEquityLoan\(accountId)\transactions:fsc-integrations-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="accountId">attributes.uriParams.'accountId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  errorCode: "400",
  errorMessage: "Invalid request message.",
  transactionId: "dd960082-abbf-47c2-8c65-f18eeb35848b",
  timeStamp: "2019-09-30T15:27:49.274Z"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\SavingsAccount\(accountId):fsc-integrations-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="accountId">attributes.uriParams.'accountId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  errorCode: "400",
  errorMessage: "Invalid request message.",
  transactionId: "dd960082-abbf-47c2-8c65-f18eeb35848b",
  timeStamp: "2019-09-30T15:27:49.274Z"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\CurrentAccount\(accountId):fsc-integrations-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="accountId">attributes.uriParams.'accountId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  errorCode: "400",
  errorMessage: "Invalid request message.",
  transactionId: "dd960082-abbf-47c2-8c65-f18eeb35848b",
  timeStamp: "2019-09-30T15:27:49.274Z"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\CreditCard\(creditCardId):fsc-integrations-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="creditCardId">attributes.uriParams.'creditCardId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  errorCode: "400",
  errorMessage: "Invalid request message.",
  transactionId: "dd960082-abbf-47c2-8c65-f18eeb35848b",
  timeStamp: "2019-09-30T15:27:49.274Z"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\HomeEquityLoan\(accountId)\Payments\Initiate:application\json:fsc-integrations-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="accountId">attributes.uriParams.'accountId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  errorCode: "400",
  errorMessage: "Invalid request message.",
  transactionId: "dd960082-abbf-47c2-8c65-f18eeb35848b",
  timeStamp: "2019-09-30T15:27:49.274Z"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\CurrentAccount\(accountId)\Payments\Initiate:application\json:fsc-integrations-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="accountId">attributes.uriParams.'accountId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  errorCode: "400",
  errorMessage: "Invalid request message.",
  transactionId: "dd960082-abbf-47c2-8c65-f18eeb35848b",
  timeStamp: "2019-09-30T15:27:49.274Z"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\CurrentAccount\(accountId)\Initiate:application\json:fsc-integrations-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="accountId">attributes.uriParams.'accountId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  errorCode: "400",
  errorMessage: "Invalid request message.",
  transactionId: "dd960082-abbf-47c2-8c65-f18eeb35848b",
  timeStamp: "2019-09-30T15:27:49.274Z"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\CurrentAccount\(accountId)\IssuedDevice\Initiate:application\json:fsc-integrations-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="accountId">attributes.uriParams.'accountId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  errorCode: "400",
  errorMessage: "Invalid request message.",
  transactionId: "dd960082-abbf-47c2-8c65-f18eeb35848b",
  timeStamp: "2019-09-30T15:27:49.274Z"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\SavingsAccount\(accountId)\IssuedDevice\Initiate:application\json:fsc-integrations-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="accountId">attributes.uriParams.'accountId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  errorCode: "400",
  errorMessage: "Invalid request message.",
  transactionId: "dd960082-abbf-47c2-8c65-f18eeb35848b",
  timeStamp: "2019-09-30T15:27:49.274Z"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\SavingsAccount\(accountId)\Payments\Initiate:application\json:fsc-integrations-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="accountId">attributes.uriParams.'accountId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  errorCode: "400",
  errorMessage: "Invalid request message.",
  transactionId: "dd960082-abbf-47c2-8c65-f18eeb35848b",
  timeStamp: "2019-09-30T15:27:49.274Z"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\SavingsAccount\(accountId)\Initiate:application\json:fsc-integrations-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="accountId">attributes.uriParams.'accountId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  errorCode: "400",
  errorMessage: "Invalid request message.",
  transactionId: "dd960082-abbf-47c2-8c65-f18eeb35848b",
  timeStamp: "2019-09-30T15:27:49.274Z"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\Loan\(loanId)\Statement\Request:application\json:fsc-integrations-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="loanId">attributes.uriParams.'loanId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  errorCode: "400",
  errorMessage: "Invalid request message.",
  transactionId: "dd960082-abbf-47c2-8c65-f18eeb35848b",
  timeStamp: "2019-09-30T15:27:49.274Z"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\CurrentAccount\(accountId)\Statement\Request:application\json:fsc-integrations-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="accountId">attributes.uriParams.'accountId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  errorCode: "400",
  errorMessage: "Invalid request message.",
  transactionId: "dd960082-abbf-47c2-8c65-f18eeb35848b",
  timeStamp: "2019-09-30T15:27:49.274Z"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\Mortgage\(mortgageLoanId)\Statement\Request:application\json:fsc-integrations-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="mortgageLoanId">attributes.uriParams.'mortgageLoanId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  errorCode: "400",
  errorMessage: "Invalid request message.",
  transactionId: "dd960082-abbf-47c2-8c65-f18eeb35848b",
  timeStamp: "2019-09-30T15:27:49.274Z"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\AutoLoan\(autoLoanId)\Statement\Request:application\json:fsc-integrations-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="autoLoanId">attributes.uriParams.'autoLoanId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  errorCode: "400",
  errorMessage: "Invalid request message.",
  transactionId: "dd960082-abbf-47c2-8c65-f18eeb35848b",
  timeStamp: "2019-09-30T15:27:49.274Z"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\SavingsAccount\(accountId)\Statement\Request:application\json:fsc-integrations-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="accountId">attributes.uriParams.'accountId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  errorCode: "400",
  errorMessage: "Invalid request message.",
  transactionId: "dd960082-abbf-47c2-8c65-f18eeb35848b",
  timeStamp: "2019-09-30T15:27:49.274Z"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\CreditCard\(creditCardId)\ReverseFee:application\json:fsc-integrations-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="creditCardId">attributes.uriParams.'creditCardId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  errorCode: "400",
  errorMessage: "Invalid request message.",
  transactionId: "dd960082-abbf-47c2-8c65-f18eeb35848b",
  timeStamp: "2019-09-30T15:27:49.274Z"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\CurrentAccount\(accountId)\ReverseFee:application\json:fsc-integrations-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="accountId">attributes.uriParams.'accountId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  errorCode: "400",
  errorMessage: "Invalid request message.",
  transactionId: "dd960082-abbf-47c2-8c65-f18eeb35848b",
  timeStamp: "2019-09-30T15:27:49.274Z"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\SavingsAccount\(accountId)\ReverseFee:application\json:fsc-integrations-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="accountId">attributes.uriParams.'accountId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  errorCode: "400",
  errorMessage: "Invalid request message.",
  transactionId: "dd960082-abbf-47c2-8c65-f18eeb35848b",
  timeStamp: "2019-09-30T15:27:49.274Z"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\customers\(customerId)\travel-notifications:application\json:fsc-integrations-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="customerId">attributes.uriParams.'customerId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  errorCode: "400",
  errorMessage: "Invalid request message.",
  transactionId: "dd960082-abbf-47c2-8c65-f18eeb35848b",
  timeStamp: "2019-09-30T15:27:49.274Z"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
